.post {
    color: white;
    margin-top: 56px;
}

.video {
    background-size: cover;   

}


.post-content {
    padding-top: 15px;
    height: 190px;
    padding-left: 15px;
}

.post-details {
    display: flex;
    align-items: flex-start;
    padding-top: 15px;

}


.post-poster {
    max-height: 300px;
    margin-right: 10px;
}

.post-poster img {
    background-size: cover;
    height: 300px;
}

.post-title {
    font-size: 3rem;
    font-weight: 800;
    padding-bottom: 0.3rem;
}



.post-description {
    line-height: 1.3;
    padding-top: 1rem;
    padding-bottom: 0.3rem;
    font-size: 1rem;
    max-width: 80%;
}
.post-more-description{
    display: flex;
  
}
.post-more-description{
    margin-right: 20px;
    color:#858383;
    font-size: 0.9rem;
}

.post-button {
    color: white;
    outline: none;
    border: none;
    font-weight: 700;
    border-radius: 5px;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: rgba(51, 51, 51, 0.5);
    cursor: pointer;
    margin-right: 1rem;
}

.post-button:hover {
    color: black;
    background-color: #e6e6e6;
}