.post{
    
    background-size: cover;
    height: auto;
    color: white;    
}
.video{
    height: 448px;
    background: rgb(0,0,0);
    background: linear-gradient(4deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%);
}
.post-content{
    padding-top: 15px;
    height: auto;
    padding-left: 15px;
}
.post-details{
    display: flex;
    align-items: flex-start;
    padding-top: 15px;

}
.post-poster{
    max-height: 300px;
    margin-right: 10px;
}
.post-poster img{
    background-size: cover;
    height: 300px;
}
.post-title{
    font-size: 3rem;
    font-weight: 800;
    padding-bottom: 0.3rem;
}
.post-button{
    color: white;
    outline: none;
    border: none;
    font-weight: 700;
    border-radius: 5px;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color:rgba(51, 51, 51, 0.5);
    cursor: pointer;
    margin-right: 1rem;
}
.post-button:hover{
    color: black;
    background-color: #e6e6e6;
}
.post-description{
    width: 54rem;
    line-height: 1.3;
    padding-top: 1rem;
    font-size: 1rem;
    height: auto;
    max-width: 80%;
    
    
}
